.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header-box {
  height: 800px;
  background-color: rgb(225, 255, 143);
  background-repeat: no-repeat;
}

.header-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 196px;
  padding-left: 120px;
}

.header-heading {
  color: #202027;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  width: 769px;
}

.main-box-undertext {
  width: 720px;
  color: #202027;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.header-button {
  margin-top: 24px;
  border-radius: 60px;
  border: 1px solid #202027;
  background: #202027;
  display: flex;
  width: 247px;
  padding: 16px 28px;
  justify-content: center;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.header-button:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.header-img {
  display: flex;
  justify-content: space-between;
}

.header-stars {
  display: flex;
}

.header-starmini {
  width: 35px;
  display: flex;
  padding-top: 69px;
  padding-left: 36px;
}

.header-star {
  width: 57px;
  display: flex;
  padding-top: 94px;
  padding-left: 63px;
}

.header-big {
  display: flex;
  position: relative;
}

.header-big-lines {
  display: flex;
  justify-content: center;
}

.header-big-upline {
  padding-left: 22%;
  position: absolute;
  display: flex;
}

.header-big-midline {
  position: absolute;
  display: flex;
  padding-top: 254px;
  padding-left: 70%;
}

.header-big-dline {
  padding-left: 142%;
  position: absolute;
  padding-top: 379px;
  padding-left: px;
  display: flex;
  align-items: flex-end;
}

.header-big-line {
  position: absolute;
  display: flex;
  padding-top: 660px;
  padding-left: 154%;
}

.header-big-smallstar {
  padding-top: 538px;
  padding-left: 120%;
}

.header-big-star {
  padding-top: 568px;
  padding-left: 25%;
}

.header-big-tri {
  position: absolute;
  padding-top: 468px;
  padding-left: 126%;
}

.header-bigstar {
  width: 413px;
  padding-left: 3%;
}

.header-box-scroll {
  padding-left: 19px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #BCEC30;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  height: 90px;
  margin-top: 59px;
  color: #202027;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow-y: scroll;
  flex-wrap: wrap;
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 51px;
  justify-content: center;
}

.main {
  background: url(./img/mainstar\ \(1\).png) right top 107px no-repeat, url(./img/mainstarsmall.svg) left 25px top 770px no-repeat, url(./img/mainstarbig.svg) left 40px top 822px no-repeat;
}

.main {
  background-color: #202027;
}

.main-box {
  padding-left: 119px;
  padding-top: 94px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-box-heading {
  color: #FFF;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}

.main-box-under {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 72px;
}

.main-box-cart {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 32px;
       column-gap: 32px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.card {
  background-repeat: no-repeat;
  width: 378px;
  background-color: #FFF;
  border-radius: 30px;
}

.card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.main-box-info {
  display: flex;
  flex-direction: column;
  gap: 26px;
  display: flex;
  padding: 32px 32px 36px 32px;
}

.main-box-text {
  padding-left: 16px;
  color: #202027;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
}

.main-box-text {
  color: #202027;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 17.6px;
}

.main-box-under-text {
  color: #202027;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}

.main-box-cart-number,
.main-box-cart-text {
  height: 473px;
}

.main-box-cart-game,
.main-box-cart-vic {
  height: 512px;
}

.main-box-cart-vic {
  display: block;
  align-self: end;
}

.main-box-cart-rock,
.main-box-cart-gen {
  height: 551px;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */